@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --black: #101720;
  --primary: #342c74;
  --secondary: #647424;
  --whitee: #cdcdd4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Optional background pattern */
.bg-hex-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='46' viewBox='0 0 40 46' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0l20 11.5v23L20 46 0 34.5v-23z' fill='none' stroke='%23e0e0e0' stroke-width='1'/%3E%3C/svg%3E");
  background-size: 40px 46px;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
